USE [master]
GO
/****** Object:  Database [NhmK22CNTT3Lesson7]    Script Date: 6/12/2024 11:42:20 AM ******/
CREATE DATABASE [NhmK22CNTT3Lesson7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhmK22CNTT3Lesson7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhmK22CNTT3Lesson7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhmK22CNTT3Lesson7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhmK22CNTT3Lesson7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhmK22CNTT3Lesson7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhmK22CNTT3Lesson7]
GO
/****** Object:  Table [dbo].[NhmKhoa]    Script Date: 6/12/2024 11:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhmKhoa](
	[NhmMaKH] [nchar](10) NOT NULL,
	[NhmTenKH] [nvarchar](50) NULL,
	[NhmTrangThai] [bit] NULL,
 CONSTRAINT [PK_NhmKhoa] PRIMARY KEY CLUSTERED 
(
	[NhmMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhmsinhvien4]    Script Date: 6/12/2024 11:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhmsinhvien4](
	[NhmMaSV] [nchar](10) NOT NULL,
	[NhmHoSV] [nchar](10) NULL,
	[NhmTenSV] [nchar](10) NULL,
	[NhmNgaySinh] [nchar](10) NULL,
	[NhmPhai] [nchar](10) NULL,
	[NhmPhone] [nchar](10) NULL,
	[NhmEmail] [nchar](10) NULL,
	[NhmMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_nhmsinhvien4] PRIMARY KEY CLUSTERED 
(
	[NhmMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhmKhoa] ([NhmMaKH], [NhmTenKH], [NhmTrangThai]) VALUES (N'2210900044', N'Minh', 1)
GO
INSERT [dbo].[nhmsinhvien4] ([NhmMaSV], [NhmHoSV], [NhmTenSV], [NhmNgaySinh], [NhmPhai], [NhmPhone], [NhmEmail], [NhmMaKH]) VALUES (N'1         ', N'123       ', N'123       ', N'2004/02/12', N'true      ', N'213       ', N'123       ', N'2210900044')
GO
ALTER TABLE [dbo].[nhmsinhvien4]  WITH CHECK ADD  CONSTRAINT [FK_nhmsinhvien4_NhmKhoa] FOREIGN KEY([NhmMaKH])
REFERENCES [dbo].[NhmKhoa] ([NhmMaKH])
GO
ALTER TABLE [dbo].[nhmsinhvien4] CHECK CONSTRAINT [FK_nhmsinhvien4_NhmKhoa]
GO
USE [master]
GO
